.roster-container {
  padding: 1rem 0;
  overflow: auto;
  max-height: 90vh;
  max-width: 422%;
}

.roster-table {
  width: 100%;
  min-width: 1000px; 
  border-collapse: collapse;
  font-size: 14px;
}
.roster-table thead th {
  position: sticky;
  top: 0;
  background-color: var(--color-fondo);
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.roster-table th,
.roster-table td {
  border: 1px solid #ccc;
  padding: 6px 8px;
  text-align: center;
  vertical-align: top;
  min-width: 100px;      
  white-space: nowrap;   
}

.trabajadores-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: left;
}

.trabajador {
  font-weight: bold;
}

.playa {
  font-size: 12px;
  font-weight: normal;
}

.sin-trabajador {
  color: #aaa;
  font-size: 14px;
}
