.cuadrante-mostrar-container {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.titulo {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  text-align: center;
}

.botones-header {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* para que en pantallas chicas bajen */
  justify-content: center; /* o space-between si quieres extremos */
  align-items: center;
  margin-bottom: 1rem;
}
